* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Work Sans", sans-serif;
}

/* shared style  */
.section-description {
    color: #727272;
    text-align: center;
    font-family: "Work Sans";
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 30px;

}

.text-black {
    color: #131313;
    font-family: "Work Sans";
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.text-yellow {
    color: #FF900E;
    font-family: "Work Sans";
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.section-heading {
    color: #727272;
    font-family: "Work Sans";
    font-size: 45px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.btn-primary {
    border-radius: 8px;
    background-color: #FF900E;
    color: #FFF;
    padding: 10px 15px;
    text-align: center;
    font-family: "Work Sans";
    font-size: 1.1rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border: none;
    cursor: pointer;
}

/* nav section start here   */
header {
    max-width: 1440px;
    background-color: rgba(255, 144, 14, 0.10);
    margin: 0 auto;
}

.brand-name {
    color: #131313;
    text-align: center;
    font-family: "Work Sans";
    font-size: 2.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

nav {
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 30px;
}

nav ul li a {
    text-decoration: none;
}

/* nav section end here   */

/* hero section start here    */
.hero-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 760px;
    margin: 0 auto;
    padding-bottom: 40px;
}

.hero-title {
    color: #131313;
    text-align: center;
    font-family: "Work Sans";
    font-size: 4rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-bottom: 30px;

}

.hero-image {
    width: 80%;
    margin: 0 auto;
}

.hero-banner-image {
    width: 100%;
    padding-bottom: 30px;

}

/* hero section end here    */

/* main section start here    */
main {
    width: 80%;
    margin: 0 auto;
}

/* quick list section start here    */
.quick-list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0;

}
.quick-list-image {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.quick-list-image img {
    max-width: 256px;
}

.quick-list-text {
    margin-left: 40px;
}

.hide{
    display: none;
}
/* quick list section end here   */

/* responsive for mobile   */

@media screen and (max-width: 576px) {
    .quick-list,
    nav,
    nav ul {
        display: flex;
        flex-direction: column;
    }

    .section-description {
        width: 90%;
    }
    .quick-list-image{
        display:grid;
        grid-template-columns: repeat(1, 1fr);
    }
}