* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Work Sans", sans-serif;
}

/* shared style  */
.section-description {
    color: #727272;
    text-align: center;
    font-family: "Work Sans";
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 30px;

}

.text-black {
    color: #131313;
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.text-yellow {
    color: #FF900E;
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}

.section-heading {
    color: #727272;
    font-family: "Work Sans";
    font-size: 2.8rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.section-subtitle {
    color: #131313;
    font-family: "Work Sans";
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.section-title {
    color: #131313;
    font-family: "Work Sans";
    font-size: 2.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.btn-primary {
    border-radius: 8px;
    background-color: #FF900E;
    color: #FFF;
    padding: 10px 15px;
    text-align: center;
    font-family: "Work Sans";
    font-size: 1.1rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border: none;
    cursor: pointer;
}

/* nav section start here   */
header {
    max-width: 1440px;
    background-color: rgba(255, 144, 14, 0.10);
    margin: 0 auto;
}

.brand-name {
    color: #131313;
    text-align: center;
    font-family: "Work Sans";
    font-size: 2.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

nav {
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 30px;
}

nav ul li a {
    text-decoration: none;
}

/* nav section end here   */

/* hero section start here    */
.hero-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 760px;
    margin: 0 auto;
    padding-bottom: 40px;
}

.hero-title {
    color: #131313;
    text-align: center;
    font-family: "Work Sans";
    font-size: 4rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-bottom: 30px;

}

.hero-image {
    width: 80%;
    margin: 0 auto;
}

.hero-banner-image {
    width: 100%;
    padding-bottom: 30px;

}

/* hero section end here    */

/* main section start here    */
main {
    width: 80%;
    margin: 0 auto;
}

/* quick list section start here    */
.quick-list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0;

}

.quick-list-image {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.quick-list-image img {
    max-width: 256px;
}

.quick-list-text {
    margin-left: 40px;
}

.hide {
    display: none;
}

/* quick list section end here   */

/* Featured  section start here   */
.featured-section {
    display: flex;
    gap: 100px;
    width: 100%;
}

.left-border {
    border-left: 5px solid #FF900E;

}

.featured-image {
    max-width: 570px;
    height: auto;
}

.featured-image img {
    max-width: 570px;
    height: auto;
}

.featured-card>.section-description,
.featured-text-section>p {
    text-align: left;
}

.featured-card {
    padding: 20px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    margin-bottom: 10px;

}

.featured-card>p {
    margin-bottom: 0px;
}

.experience {
    color: #FFF;
    text-align: center;
    font-family: "Work Sans";
    font-size: 3.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: 70px;
}

.btn {
    margin-top: -100px;
    margin-left: -100px;
}

/* Featured  section end here   */

/* Fact  section start here   */

.section-fact {
    margin-top: 50px;

}

.section-fact>p {
    text-align: left;

}

.fact-area {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 95px;
    margin-top: 50px;
}

.fact-card {
    width: 180px;
    height: 180px;
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;

}

.fact-padding {
    padding: 20px;
}

/* Fact  section end here   */

/* sponsors  section start here   */

.sponsors-section {
    margin-top: 100px;

}

.sponsors-section h2 {
    text-align: center;
    margin: 10px 0;
}

.sponsors-image {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;

}

.sponsors-image img {
    filter: grayscale(100%);
}

/* sponsors  section end here   */

footer {
    margin: 100px auto;
    text-align: center;
    max-width: 1080px;
    height: 100px;
    height: auto;
    padding: 40px;
    border-radius: 8px;
    background-color: #FFF4E7;
}

/* responsive for mobile   */

/* Footer section end here   */
@media screen and (max-width: 576px) {

    .sponsors-image,
    .fact-area,
    .featured-section,
    .quick-list,
    nav,
    nav ul {
        display: flex;
        flex-direction: column;
    }

    .section-description {
        width: 90%;
    }

    .quick-list-image {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .featured-image {
        max-width: 100%;
        height: auto;
    }

    .featured-image img {
        max-width: 100%;
        height: auto;
    }

    .btn {
        margin-top: -200px;
        margin-left: 0px;
    }
}