* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Work Sans", sans-serif;
}

/* shared style  */

/* nav section start here   */
header {
    max-width: 1440px;
    background-color: rgba(255, 144, 14, 0.10);
    margin: 0 auto;
}
.brand-name {
    color: #131313;
    text-align: center;
    font-family: "Work Sans";
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
nav{
    display: flex;
    margin: 0 150px;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
}
nav ul {
    list-style: none;
    display: flex;
}
nav ul li{
   margin-right: 30px;
}
nav ul li a {
    text-decoration: none;   
}